<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TICKET-BLUE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="lastname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input [(ngModel)]="age" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Ingresar</ion-button>
</ion-content>


  <ion-footer>
    <ion-toolbar>
      <p class="footer-text">© 2024 BLUE-TICKET. Todos los derechos reservados.</p>
    </ion-toolbar>
  </ion-footer>